<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [appearance]="'compact'"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.compact"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex items-center justify-center h-20 mt-3 mb-4">
            <!-- <img
                class="w-10"
                src="../../../../../cmsFaviconUpdated.ico"
                alt="Logo image"> -->
                <!-- <p>Docron</p> -->
                <p class="docron-text1">Docron</p>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <!-- Navigation toggle button -->
        <button
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
           
            <!-- <button  class="fuse-mat-button-rounded ml-4 mt-1 flex-shrink-0" (click)="navigate();" mat-flat-button color="primary" >
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="ml-2">New Test</span>
              </button> -->

            <button *ngIf="roleID != '2'" class="fuse-mat-button-rounded ml-4 mt-1 flex-shrink-0" (click)="appointmentDrawer.toggle();" mat-flat-button color="primary" >
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="ml-2">New Appointment</span>
              </button>

            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <languages></languages>
            <!-- <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <shortcuts></shortcuts>
            <messages></messages>
            <notifications></notifications> -->
            <!-- <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-alt-2'"></mat-icon>
            </button> -->
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <!-- <span class="font-medium text-secondary">ARC &copy; {{currentYear}}</span> -->
        <span class="font-medium text-secondary">Docron &copy; {{currentYear}}</span>
        <div class="footer-images">
            <img class="w-30" src="../../../.././../assets/images/docron-footer-images/TEN.png">
            <img class="w-30" src="../../../.././../assets/images/docron-footer-images/ALL.png">
            <img class="w-30" src="../../../.././../assets/images/docron-footer-images/PA.png">
            <img class="w-30" src="../../../.././../assets/images/docron-footer-images/image_VIN.png">
            <img class="w-30" src="../../../.././../assets/images/docron-footer-images/Ct.png">
            <img class="w-30" src="../../../.././../assets/images/docron-footer-images/JK.png">
        </div>
    </div>

</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->

<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-200 z-999" fixed [mode]="'over'"
    [name]="'appointmentDrawer'" [position]="'right'" #appointmentDrawer>
    <div class="flex flex-col w-full overflow-auto bg-card  ">
        <div class="  flex flex-row items-center px-6 h-20 min-h-20  text-white   Overlays">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">Add Appointment</div>
            <button class="ml-auto" mat-icon-button (click)="appointmentDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
       
        <form class="p-4 bg-card rounded overflow-hidden" [formGroup]="horizontalStepperForm">
            <mat-horizontal-stepper [linear]="false" #horizontalStepper>
                <mat-step style="background-color: #146aa6; color: white;" [formGroupName]="'step1'"
                    [stepControl]="horizontalStepperForm.get('step1')" #horizontalStepperStep1>
                    <ng-template matStepLabel>Appointment Details</ng-template>
                    <div class="row">

                         <!-- <mat-form-field floatLabel="never" class="col-lg-12">
                            <input type="text" [(ngModel)]="searchKey3" placeholder="Search Patient  Profile"
                                aria-label="Number" (input)="onInput($event.target.value)" matInput [formControl]="myControl2" [matAutocomplete]="auto">
                            <mat-icon matPrefix>perm_identity</mat-icon>
                            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey3"
                                (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)='applyFilter($event.option)'>
                                <mat-option *ngFor="let option of filteredPat" [value]="option.mobile">
                                    <mat-icon>account_circle</mat-icon> {{option.mobile}}  ( {{option.patient}} )
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field> -->

                        <mat-form-field floatLabel="never" class="col-lg-12">
                            <input type="text" [(ngModel)]="searchKey3" placeholder="Search Patient  Profile"
                                aria-label="Number" matInput [formControl]="myControl" (input)="filterStates2($event.target.value)"
                                 [matAutocomplete]="auto">
                            <mat-icon matPrefix>perm_identity</mat-icon>
                            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey3"
                                (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                (optionSelected)='applyFilter($event.option)'>
                                <mat-option *ngFor="let option of filteredOptions"  [value]="option">
                                    <mat-icon>account_circle</mat-icon> {{option.mobile}} ( {{option.patient}} )
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>   
        
                    </div>

                    <div class="row" style="padding-top: 15px;">
                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Select Date</mat-label>
                            <input matInput [matDatepicker]="picker" [formControlName]="'appDate'"
                                [min]="yesterday" [readonly]="isDuePay" required
                                (dateChange)="onDateChanged($event)" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                  
                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Select Doctor</mat-label>
                            <mat-select [formControlName]="'docName'"
                                (selectionChange)="getSlotsWithDocID($event.value)" required
                                [disabled]="isDuePay">
                                <mat-option *ngFor="let doc of doctors" [value]="doc.doctorID">
                                    {{ doc.doctor }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Select Time</mat-label>
                            <mat-select [formControlName]="'slot'" required [disabled]="isDuePay"
                                (selectionChange)="getTimeChange($event.value)">
                                <mat-option *ngFor="let item of slotsArr" [value]="item">
                                    {{ item.slot }}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                    </div>
                    <div class="row">
                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input matInput [formControlName]="'firstName'" pattern="[a-zA-Z][a-zA-Z .]+"
                                required [readonly]="isDuePay" [(ngModel)]="fName" />
                        </mat-form-field>

                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Mobile Number </mat-label>
                            <input matInput [formControlName]="'mobNum'" pattern="[0-9]{10}"
                                [(ngModel)]="mobNum" required [readonly]="isDuePay"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                        </mat-form-field>

                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Age</mat-label>
                            <input matInput [formControlName]="'age'" required [readonly]="isDuePay"
                                [(ngModel)]="age" />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select [formControlName]="'gender'" [(ngModel)]="Genderselected" required
                                [disabled]="isDuePay">
                                <mat-option *ngFor="let item of genders" [value]="item.genderID">
                                    {{ item.gender }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="flex justify-end" *ngIf="action != 'Update Existing Appointment'">
                      
                        <button type="button" [ngClass]="(horizontalStepperStep1.stepControl
                        .invalid) ? 'btnnext' : 'btnnext1'" [disabled]="isNoSlot ||
                        (horizontalStepperStep1.stepControl
                            .pristine ||
                        horizontalStepperStep1.stepControl
                            .invalid)" matStepperNext>
                            Next
                        </button>

                    </div>
                    <div class="flex justify-end" *ngIf="action == 'Update Existing Appointment'">
                        <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="nextDisabled                                         
                            " type="button" matStepperNext>
                            Next
                        </button>
                   
                    </div>

          
                </mat-step>



                <mat-step [formGroupName]="'step2'" [stepControl]="horizontalStepperForm.get('step2')"
                    #horizontalStepperStep2>
                    <ng-template matStepLabel>Payment</ng-template>

                    <div class="row">
                        <mat-form-field class="col-lg-12" appearance="outline">
                            <mat-label>Select Service</mat-label>
                            <mat-select (selectionChange)="EnableModeprice($event)" [formControlName]="'serviceName'"
                                required [disabled]="isDuePay">
                                <mat-option *ngFor="let item of services" [value]="item.serviceID">
                                    {{ item.serviceName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
              
                    <div class="row" >
                        <mat-form-field class="col-lg-3" appearance="outline">
                            <mat-label>Price</mat-label>
                            <input matInput [(ngModel)]="price" [formControlName]="'price'" (input)="applyNetPrice($event)"
                                   required readonly disabled>
                        </mat-form-field>
                        
                        

                        <mat-form-field class="col-lg-3" appearance="outline">
                            <mat-label>Mode Of Payment</mat-label>
                            <mat-select [formControlName]="'modeOfPayment'" [(ngModel)]="selectpayment" [disabled]="ModePrice">
                                <mat-option *ngFor="let item of Mode " [value]="item.ID">
                                    {{ item.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-lg-3" appearance="outline" >
                            <mat-label>Discount in %</mat-label>
                            <mat-select [formControlName]="'discount'" [(ngModel)]="selecteddiscount" (selectionChange)="applyNetPrice1()"
                                [disabled]="isDuePay">
                                <mat-option *ngFor="let item of discounts" [value]="item.discountID">
                                    {{ item.discount }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-lg-3" appearance="outline">
                            <mat-label>Amount Paid</mat-label>
                            <input matInput [formControlName]="'amountPaid'" readonly required />
                          </mat-form-field>
                          
                    </div>
                    <div class="flex justify-end" >
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                            matStepperPrevious>
                            Back
                        </button>
                        <!-- <button type="button"
                                (click)="addRegisterPatientAppointment(horizontalStepperForm.value)"
                                [ngClass]="horizontalStepperStep2.stepControl.invalid ? 'btnnext' : 'btnnext1'"
                                [disabled]="horizontalStepperStep2.stepControl.invalid || appointmentButtonClicked" matStepperNext>
                                <span *ngIf="!loading">Create Appointment</span>
                                <mat-progress-spinner *ngIf="loading" [diameter]="20" [mode]="'indeterminate'" style="color: white;"></mat-progress-spinner>
                            </button> -->

                            <button type="button"
                            (click)="addRegisterPatientAppointment(horizontalStepperForm.value)"
                            [ngClass]="{
                                'btnnext': horizontalStepperStep2.stepControl.invalid,
                                'btnnext1': !horizontalStepperStep2.stepControl.invalid,
                                'btn-disabled': horizontalStepperStep2.stepControl.invalid || appointmentButtonClicked
                            }"
                            [disabled]="horizontalStepperStep2.stepControl.invalid || appointmentButtonClicked"
                            matStepperNext>
                            <span *ngIf="!loading">Create Appointment</span>
                            <mat-progress-spinner *ngIf="loading" [diameter]="20" [mode]="'indeterminate'" style="color: white;"></mat-progress-spinner>
                        </button>

                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>

    </div>
</fuse-drawer>


<ng-template #editCompanyModal>

    <mat-dialog-content>
        <fieldset>
            <mat-icon style="float: right;" class="mouseover" aria-label="Close dialog" (click)="closeCompanyDetailsDialog()"
                matTooltip="Close" matTooltipPosition="right" matTooltipShowDelay="500" matTooltipHideDelay="100">
                <span (mouseover)="onCloseIconMouseOver()" (mouseout)="onCloseIconMouseOut()">close</span>
            </mat-icon>
            <!-- <mat-icon aria-label="Close dialog" (click)="closeCompanyDetailsDialog()">close</mat-icon> -->
            <!-- start preheader -->
            <!-- <div class="preheader" style="display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;">
        A preheader is the short summary text that follows the subject line when an email is viewed in the inbox.
    </div> -->
            <!-- end preheader -->
            <!-- start body -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="component1">
                <tr>
                    <td align="center" bgcolor="#D2C7BA">


                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="payment_Receipt">
                                    <img src="assets/images/logo/LOGO.png" style=" width: 100%;" />
                                </td>
                                <td class="heading_1">Payment Receipt</td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <tr>
                    <td align="center" bgcolor="">
                        <table class="Token_No" border="0" cellpadding="0" cellspacing="0">
                            <tr style="background-color:#fff">

                                <td class="td_style">
                                    <!-- <span>Token No</span>
                                    <div class="tocken_no">{{receiptToken}}</div> -->
                                    <!-- <span>Token No : </span> <span class="tocken_no">{{receiptToken}}</span> -->
                                    <span>Token No :&nbsp;</span> <span class="tocken_no">{{receiptToken}}</span>

                                </td>
                                <td class="td_style">
                                    <span>Appointment Date :&nbsp;</span>
                                    <span class="tocken_no">{{todayDataSourcePrintBookings[0].appointmentDate | date:
                                        'dd-MM-yyyy'}}</span>
                                </td>

                            </tr>
                            <tr style="background-color:#fff">

                                <td class="td_style">
                                    <span>Service Name :&nbsp; </span>
                                    <span class="tocken_no">{{todayDataSourcePrintBookings[0].serviceName}}</span>
                                </td>
                                <td class="td_style">
                                    <span>Patient Name :&nbsp;</span>
                                    <span class="tocken_no">{{todayDataSourcePrintBookings[0].patient}}</span>
                                </td>

                            </tr>

                            <tr style="background-color:#fff">

                                <td class="td_style">
                                    <!-- <span>Token No</span> 
                            <div class="tocken_no">0596147558</div> -->
                                </td>
                                <td class="td_style">
                                    <span>Patient ID :&nbsp; </span>
                                    <span class="tocken_no">{{todayDataSourcePrintBookings[0].patientARCID}}</span>
                                </td>

                            </tr>




                        </table>
                        <table class="Payment_method_bgmcolr">
                            <tr>
                                <td class="Payment_row">
                                    <table border="0" style="width: 100%;">
                                        <tr>
                                            <!-- <td class="td_table"><strong>Payment Method</strong></td>
                                            <td class="td_table">
                                                <strong>{{todayDataSourcePrintBookings[0].modeofPayment}}</strong>
                                            </td> -->
                                            <td class="td_table">
                                                <strong>Payment Method : </strong> {{todayDataSourcePrintBookings[0].modeofPayment}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_table1">{{todayDataSourcePrintBookings[0].serviceName}} : ₹&nbsp;{{todayDataSourcePrintBookings[0].payment}}</td>
                                            <!-- <td class="td_table1">₹{{todayDataSourcePrintBookings[0].payment}}</td> -->
                                        </tr>

                                        <tr>
                                            <td class="td_table2"><strong>Total : ₹&nbsp;{{todayDataSourcePrintBookings[0].payment}}</strong></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center" bgcolor="" valign="top" width="100%">

                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"
                            style="max-width: 600px;">
                            <tr>
                                <td align="center" valign="top" style="font-size: 0;">

                                    <div style="display: inline-block; width: 100%;vertical-align: top;">
                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td class="Adress_row" valign="top">
                                                    <p style="margin-bottom: 5px;"><strong>Advance Rheumatology
                                                            Center</strong></p>
                                                    <p style="margin-top: 0;"> 6-3-652, 1st Floor, Kautilya Building,
                                                        Near Erramanzil bus stop, Somajiguda, <br> Hyderabad, Telangana
                                                        500082, Contact No : 9247435254</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <tr>
                    <td align="center" bgcolor="" style="padding: 7px;">
                    </td>
                </tr>
            </table>
        </fieldset>
    </mat-dialog-content>


    <mat-dialog-actions class="border-top" style="float: right;
    padding-bottom: 15px;    margin-bottom: 5px;">
        <button type="button" mat-button matDialogClose (click)="closeCompanyDetailsDialog()">Cancel</button>
        <button type="button" mat-raised-button color="accent" (click)="print1('component1')">Print</button>
    </mat-dialog-actions>
    <!-- </form> -->
</ng-template>
