<!-- table -->
<div class="flex flex-col flex-auto min-w-0 mt-1">
    <mat-tab-group>

        <mat-tab label="Doctor">
            <div class="flex items-center mt-12 sm:mt-0 space-x-4 overflow-x-auto">
                <div class="flex flex-1 items-center space-x-4 min-w-0">
                  <mat-form-field class="flex-shrink min-w-[150px] max-w-[250px] search1 custom-background" appearance="outline">
                    <mat-icon matPrefix>perm_identity</mat-icon>
                    <input matInput type="text" [(ngModel)]="searchKey" (keyup)="doFilter1(searchKey, 1)" placeholder="Search Profile">
                    <button mat-button *ngIf="searchKey" matSuffix (click)="clearSearch()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              
                <div class="flex items-center ml-auto space-x-4">
                  <button class="fuse-mat-button-rounded flex-shrink-0 mt-1"
                    mat-flat-button [color]="'primary'"
                    (click)="drawer.toggle();openAddForm()" 
                    style="width: 175px; background-color:#ff6f3b; margin-bottom: 4px;">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">Doctor</span>
                  </button>
              
                  <mat-form-field class="flex-shrink-0 min-w-[200px] max-w-[250px] custom-background" appearance="outline">
                    <mat-select multiple [(ngModel)]="selectedColumns" (selectionChange)="updateDisplayedColumns()">
                      <mat-select-trigger>
                        <span>Select Columns</span>
                      </mat-select-trigger>
                      <mat-option style="color: #212121; font-weight: 500;" *ngFor="let column of columnDefinitions" [value]="column.def" [disabled]="column.def === 'Actions'">
                        {{ column.displayName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="container1">
                <div class="table-container1">
                    <table class="table1" *ngIf="doctortab" mat-table [dataSource]="regDetails1">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.name }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Mobile
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.mobile }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.email }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="experience">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Experience
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.experience }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="qualification">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Qualification
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.qualification }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="institution">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Designation
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.institution }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Actions
                        </th>

                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">

                                <button mat-menu-item (click)="updateSelect(element);drawer.toggle()">
                                    <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button mat-menu-item (click)="deleteDoc(element)">
                                    <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                    <span >Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Slots">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <div (click)="rowData(row)">
                            <!-- <button class="fuse-mat-button-rounded mb-2" (click)="scheduleDrawer.toggle();$event.stopPropagation()"(click)="rowData(row)" mat-flat-button [color]="'primary'">
                                <mat-icon  class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                <span class="ml-2">Add Slots</span>
                            </button> -->
                            <button  type="button" class="btn  btnadd1" (click)="scheduleDrawer.toggle();$event.stopPropagation();updateSelect1(row)"(click)="rowData(row)"style="font-weight: 500;  border-radius: 50px;width: auto;">
                             <span style="font-size: 18px;
                             font-weight: 600;">+</span> &nbsp; Add Slots
                            </button>
                        </div>
                            <!-- <button mat-button style="color: #ff4081"
                                (click)="scheduleDrawer.toggle();$event.stopPropagation()"></button> -->
                                <!-- <div (click)="rowData(row)"><mat-icon [matTooltipPosition]="'right'"   [matTooltip]="tooltip || 'Add'" svgIcon="heroicons_solid:plus"  (click)="scheduleDrawer.toggle();$event.stopPropagation()"
                                    style="color:#ff7b00;width: 80px;">

                               </mat-icon></div> -->
                            
                        </td>
                    </ng-container>

                    <tr mat-header-row class="height" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="100" showFirstLastButtons>
                </mat-paginator>
            </div>
           
        </div>
        
      
          
            <div  *ngIf="!doctortab" style="text-align: center;">
                


                <div class="center-container">
                    <img class="w-16" style="opacity: 0.5;" src="assets/images/logo/imgs1.svg" alt="Fuse logo">

                </div>
<br>
<div class="center-container1">
    <h2 style="color: #146aa6;    margin-top: -59px;">
    <b>No  doctor data  Found </b> 
    </h2>
</div>
                <!-- <mat-icon svgIcon="heroicons_solid:x-circle"></mat-icon> -->

            </div>
        </mat-tab>

        <!-- <mat-tab label="Nurse">

            <div class="flex items-center mt-12 sm:mt-0 sm:ml-2 space-x-3">

                <button class="fuse-mat-button-rounded" (click)="drawer.toggle()" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">New Nurse</span>
                </button>
            </div>
        </mat-tab> -->
        <mat-tab label="Asst Doctor">

            <div class="flex items-center mt-12 sm:mt-0 space-x-4 overflow-x-auto">
                <div class="flex flex-1 items-center space-x-4 min-w-0">
                  <mat-form-field class="flex-shrink min-w-[150px] max-w-[250px] search1 custom-background" appearance="outline">
                    <mat-icon matPrefix>perm_identity</mat-icon>
                    <input matInput type="text" [(ngModel)]="searchKey1" (keyup)="doFilter2(searchKey1, 1)" placeholder="Search Profile">
                    <button mat-button *ngIf="searchKey1" matSuffix (click)="clearSearch()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              
                <div class="flex items-center ml-auto space-x-4">
                  <button class="fuse-mat-button-rounded flex-shrink-0 mt-1"
                    mat-flat-button [color]="'primary'"
                    (click)="drawer.toggle();addActionForm('JrDoctor')" 
                    style="width: 175px; background-color: #ff6f3b; margin-bottom: 4px;">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">New Asst Doctor</span>
                  </button>
              
                  <mat-form-field class="flex-shrink-0 min-w-[150px] max-w-[250px] custom-background" appearance="outline">
                    <mat-select multiple [(ngModel)]="selectedColumnsjr" (selectionChange)="updateDisplayedColumnsjr()">
                      <mat-select-trigger>
                        <span>Select Columns</span>
                      </mat-select-trigger>
                      <mat-option style="color: #212121; font-weight: 500;" *ngFor="let column of columnDefinitionsjr" [value]="column.def" [disabled]="column.def === 'Actions'">
                        {{ column.displayName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="container1">
                <div class="table-container1">
                     <table class="table1"  *ngIf="assdoctortab" mat-table [dataSource]="regDetailsJrList">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.name }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Mobile
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.mobile }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Email
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.email }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="experience">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Experience
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.experience }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="qualification">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Qualification
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.qualification }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="institution">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Designation
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{ element.institution }}</span>
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                                Actions
                            </th>
    
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
    
                                    <button mat-menu-item (click)="updateSelect(element);drawer.toggle()">
                                        <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                                        <span>Edit</span>
                                    </button>
    
                                    <button mat-menu-item (click)="deleteDoc(element)">
                                        <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                        <span >Delete</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="Slots">
                            <th mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-button style="color: #ff4081"
                                    (click)="scheduleDrawer.toggle();$event.stopPropagation()">
                                    <div (click)="rowData(row)"> Add Slots</div>
                                </button>
                            </td>
                        </ng-container> -->
    
                        <tr mat-header-row class="height" *matHeaderRowDef="displayedColumnsJr; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsJr"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="100" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
            
            


            
                <div  *ngIf="!assdoctortab" style="text-align: center;">
                


                    <div class="center-container">
                        <img class="w-16" style="opacity: 0.5;" src="assets/images/logo/imgs1.svg" alt="Fuse logo">
    
                    </div>
    <br>
    <div class="center-container1">
        <h2 style="color: #146aa6;    margin-top: -59px;">
        <b>No Asst doctor data  Found </b> 
        </h2>
    </div>
                    <!-- <mat-icon svgIcon="heroicons_solid:x-circle"></mat-icon> -->
    
                </div>
           
        </mat-tab>
        <mat-tab label="Front Desk">
            <div class="flex items-center mt-12 sm:mt-0 space-x-4 overflow-x-auto">
                <div class="flex flex-1 items-center space-x-4 min-w-0">
                  <mat-form-field class="flex-shrink min-w-[150px] max-w-[250px] search1 custom-background" appearance="outline">
                    <mat-icon matPrefix>perm_identity</mat-icon>
                    <input matInput type="text" [(ngModel)]="searchKey2" (keyup)="doFilter3(searchKey2, 1)" placeholder="Search Profile">
                    <button mat-button *ngIf="searchKey2" matSuffix (click)="clearSearch()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              
                <div class="flex items-center ml-auto space-x-4">
                  <button class="fuse-mat-button-rounded flex-shrink-0 mt-1"
                    mat-flat-button [color]="'primary'"
                    (click)="drawer.toggle();addActionFormFrontDesk('Front Desk')" 
                    style="width: 175px; background-color: #ff6f3b; margin-bottom: 4px;">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">New Front Desk</span>
                  </button>
              
                  <mat-form-field class="flex-shrink-0 min-w-[150px] max-w-[250px] custom-background" appearance="outline">
                    <mat-select multiple [(ngModel)]="selectedColumnsjr" (selectionChange)="updateDisplayedColumnsjr()">
                      <mat-select-trigger>
                        <span>Select Columns</span>
                      </mat-select-trigger>
                      <mat-option style="color: #212121; font-weight: 500;" *ngFor="let column of columnDefinitionsjr" [value]="column.def" [disabled]="column.def === 'Actions'">
                        {{ column.displayName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="container1">
                <div class="table-container1">
                <table class="table1"   *ngIf="frontdesks"  class="table1" mat-table [dataSource]="regDetailsFrontList" matSort>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.name }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Mobile
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.mobile }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.email }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="experience">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Experience
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.experience }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="qualification">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Qualification
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.qualification }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="institution">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Designation
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.institution }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Actions
                        </th>

                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">

                                <button mat-menu-item (click)="updateSelect(element);drawer.toggle()">
                                    <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button mat-menu-item (click)="deleteDoc(element)"> 
                                    <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                    <span >Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="Slots">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button style="color: #ff4081"
                                (click)="scheduleDrawer.toggle();$event.stopPropagation()">
                                <div (click)="rowData(row)"> Add Slots</div>
                            </button>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row class="height" *matHeaderRowDef="displayedColumnsJr; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsJr"></tr>
                </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="100" showFirstLastButtons>
        </mat-paginator>
            </div>
        </div>
        

            <div  *ngIf="!frontdesks" style="text-align: center;">
                


                <div class="center-container">
                    <img class="w-16" style="opacity: 0.5;" src="assets/images/logo/imgs1.svg" alt="Fuse logo">

                </div>
<br>
<div class="center-container1">
    <h2 style="color: #146aa6;    margin-top: -59px;">
    <b>No Front Desk data  Found </b> 
    </h2>
</div>
                <!-- <mat-icon svgIcon="heroicons_solid:x-circle"></mat-icon> -->

            </div>
        </mat-tab>
        <mat-tab label="Lab Assistant">
            <div *ngIf="labassts" class="flex items-center mt-12 sm:mt-0 space-x-4 overflow-x-auto">
                <div class="flex flex-1 items-center space-x-4 min-w-0">
                  <mat-form-field class="flex-shrink min-w-[150px] max-w-[250px] search1 custom-background" appearance="outline">
                    <mat-icon matPrefix>perm_identity</mat-icon>
                    <input matInput type="text" [(ngModel)]="searchKey3" (keyup)="doFilter4(searchKey3, 1)" placeholder="Search Profile">
                    <button mat-button *ngIf="searchKey3" matSuffix (click)="clearSearch()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              
                <div class="flex items-center ml-auto space-x-4">
                  <button class="fuse-mat-button-rounded flex-shrink-0 mt-1"
                    mat-flat-button [color]="'primary'"
                    (click)="drawer.toggle();addActionFormLabAssitant('Lab Assistant')" 
                    style="width: 175px; background-color: #ff6f3b; margin-bottom: 4px;">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">Lab Assistant</span>
                  </button>
              
                  <mat-form-field class="flex-shrink-0 min-w-[150px] max-w-[250px] custom-background" appearance="outline">
                    <mat-select multiple [(ngModel)]="selectedColumnsjr" (selectionChange)="updateDisplayedColumnsjr()">
                      <mat-select-trigger>
                        <span>Select Columns</span>
                      </mat-select-trigger>
                      <mat-option style="color: #212121; font-weight: 500;" *ngFor="let column of columnDefinitionsjr" [value]="column.def" [disabled]="column.def === 'Actions'">
                        {{ column.displayName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="container1">
                <div class="table-container1">
                <table class="table1" *ngIf="labassts" mat-table [dataSource]="regDetailsLabList">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.name }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Mobile
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.mobile }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.email }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="experience">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Experience
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.experience }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="qualification">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Qualification
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.qualification }}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="institution">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Designation
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{ element.institution }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef class="text-lg text-white">
                            Actions
                        </th>

                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">

                                <button mat-menu-item (click)="updateSelect(element);drawer.toggle()">
                                    <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button mat-menu-item (click)="deleteDoc(element)"> 
                                    <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                    <span >Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="Slots">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button style="color: #ff4081"
                                (click)="scheduleDrawer.toggle();$event.stopPropagation()">
                                <div (click)="rowData(row)"> Add Slots</div>
                            </button>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row class="height" *matHeaderRowDef="displayedColumnsJr; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsJr"></tr>
                </table>
                <mat-paginator *ngIf="labassts"  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="100" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
        
        
        
            <div  *ngIf="!labassts" style="text-align: center;">
                


                <div class="center-container">
                    <img class="w-16" style="opacity: 0.5;" src="assets/images/logo/imgs1.svg" alt="Fuse logo">

                </div>
<br>
<div class="center-container1">
    <h2 style="color: #146aa6;    margin-top: -59px;">
    <b>No Lab Asst  data  Found </b> 
    </h2>
</div>
                <!-- <mat-icon svgIcon="heroicons_solid:x-circle"></mat-icon> -->

            </div>
        </mat-tab>
    </mat-tab-group>

</div>

<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-200 z-999" fixed [mode]="'over'" [name]="'drawer'"
    [position]="'right'" #drawer>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="  flex flex-row items-center px-6 h-20 min-h-20  text-white  Overlays">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">{{actionName}}</div>
            <button class="ml-auto" mat-icon-button (click)="drawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col p-6">
            <div class="flex flex-col gt-xs:flex-row">

                <fieldset class="scheduler-border" [formGroup]="form">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput [formControlName]="'name'" required pattern="[a-zA-Z][a-zA-Z ]+" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline" >
                                <mat-label>Mobile</mat-label>
                                <!-- <input matInput [formControlName]="'mobile'" required /> -->
                                <input matInput  [formControlName]="'mobile'" required oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.substring(0, 10);">

                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput [formControlName]="'email'" required />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput [formControlName]="'password'" required />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" matInput [formControlName]="'confirmPassword'" required />
                            </mat-form-field>
                        </div>
                        <!-- <mat-radio-group class="col-lg-4" [color]="'primary'" [formControlName]="'gender'" required>
                            <mat-radio-button *ngFor="let item of genders" style="font-size: 11px"
                                [value]="item.genderID">
                                <span>
                                    {{item.gender}}
                                </span>
                            </mat-radio-button>
                        </mat-radio-group> -->

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Gender</mat-label>
                                <mat-select  [(ngModel)]="selectedGender" [formControlName]="'gender'"   required>
                                    <mat-option *ngFor="let item of genders" [value]="item.genderID">
                                        {{item.gender}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                              <mat-select [(value)]="selected">
                                <mat-option  value="option1">Male</mat-option>
                                <mat-option value="option2">Female</mat-option>
                                <mat-option value="option3">Others</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div> -->
                          
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Aadhar Number</mat-label>
                                <input matInput [formControlName]="'aadharNumber'"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.substring(0, 12);" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Pan Card</mat-label>
                                <input matInput [formControlName]="'pancardNumber'"  oninput="this.value = this.value.substring(0, 10);" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Experience in Years/Months</mat-label>
                                <input matInput [formControlName]="'experience'"/>
                            </mat-form-field>
                        </div>

                    </div>

                    <!-- <div class="row">
                       
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Qualification</mat-label>
                                <input matInput [formControlName]="'qualification'" />
                            </mat-form-field>
                        </div>
                        <mat-form-field class="col-lg-4" appearance="outline">
                            <mat-label>Specialization</mat-label>
                            <mat-select [formControlName]="'specializations'" required>
                                <mat-option *ngFor="let item of specializations" [value]="item.specializationID">
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> 

                    </div> -->

                  
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Qualification</mat-label>
                                <input matInput [formControlName]="'qualification'" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <mat-form-field class="custom-width" appearance="outline">
                                <mat-label>Designation</mat-label>
                                <input matInput [formControlName]="'institution'"  />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <mat-form-field class="custom-width"  appearance="outline">
                            <mat-label>Select Status</mat-label>
                            <mat-select [formControlName]="'status'" required>
                                <mat-option *ngFor="let item of status1" [value]="item.statusID">
                                    {{ item.statusName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" appearance="outline">
                            <mat-label>About Me</mat-label>
                            <textarea matInput [formControlName]="'aboutMe'" name="questionText" cols="35" rows="3"
                                placeholder="About Me" ></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" appearance="outline">
                            <mat-label>Address</mat-label>
                            <textarea matInput [formControlName]="'address'" name="address" cols="35" rows="3"
                                placeholder="Address" ></textarea>
                        </mat-form-field>
                    </div>
                </fieldset>


                <!-- {{selectedGender}}
                <mat-form-field >
                    <mat-label>Gender</mat-label>
                    <mat-select  [(ngModel)]="selectedGender"    >
                        <mat-option *ngFor="let item of genders" [value]="item.gender">
                            {{item.gender}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <div *ngIf="submitbtn" class="flex justify-end">
                    <!-- <button class="px-8" mat-flat-button [color]="'primary'" (click)="
                                        addUpdateRegDetails(form.value);drawer.close();" [disabled]="form.invalid"
                        type="button">
                        Submit
                    </button> -->
                    <button  type="button"    style="cursor: pointer;"
                    [ngClass]="(form.invalid) ? 'btnsub' : 'btnsub1'"  (click)="
                   addUpdateRegDetails(form.value);" [disabled]="form.invalid"   >
                   Submit
                      </button>

                    
                </div>
                <div *ngIf="Updatebtn" class="flex justify-end">
                    <button class="px-8" mat-flat-button [color]="'primary'" (click)="
                                        addUpdateRegDetails(form.value)" [disabled]="form.invalid"
                        type="button">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</fuse-drawer>


<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-200 z-999" fixed [mode]="'over'" [name]="'drawer'"
    [position]="'right'" #scheduleDrawer>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="  flex flex-row items-center px-6 h-20 min-h-20  text-white  bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">Add Slots - Dr&nbsp;{{ selectedRowName }}</div>
            <button class="ml-auto" mat-icon-button (click)="scheduleDrawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col p-6">
            <div class="flex flex-col gt-xs:flex-row">

                <mat-slide-toggle [(ngModel)]="isAllDays" (change)="onToggleChange($event)" style="margin-left: 620px;" [disabled]="dayName == 'SUNDAY'">Select All</mat-slide-toggle>
              
                <fieldset class="scheduler-border" >
                    <ul>
                        <li *ngFor="let item of daysArr" (click)="dayToggle(item.Value)">
                            <div class="weekDays-selector">
                                <input type="radio" id="{{item.id}}" class="weekday" />
                                <!-- <span [ngClass]="item.Name === dayName ? 'day1' :'active1'">  <label  [ngClass]="{'active': item.Name === dayName}" 
                                    for="{{item.id}}">{{item.Name}}</label></span> -->
                                    <label  [ngClass]="{'active5': item.Value == selectedDay,'toggle':isAllDays&&item.Name != 'SUNDAY'}" 
                                    for="{{item.id}}">{{item.Name}}</label>
                               
                            </div>
                        </li>
                    </ul>

                <!-- <mat-slide-toggle [(ngModel)]="isAllDays" (change)="onToggleChange($event)" style="margin-left: 630px;">Select All</mat-slide-toggle> -->


                   
                      
                    <!-- <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="padding-right: 0;"  *ngFor="let item of daysArr">
                <div class="weekDays-selector" (click)="day(item)">
                    <input type="radio" id="{{item.id}}" class="weekday" />
                    <label [ngClass]="{'active': item.Name === dayName}" for="{{item.id}}">{{item.Name}}</label>

                </div>
            </div>
        </div> -->
                    <br />
                    <!-- <h2 class="day" *ngIf="slotsArrForChips.length>0">Available Slots for {{dayName}}</h2>
                    <h2  class="day" *ngIf="slotsArrForChips.length==0">No Slots Available for {{dayName}}</h2> -->
                    <!-- <div class="flex flex-cols">
                    <span class="flex flex-cols gap-2" *ngFor="let item of slotsArrForChips">

                        <span class="flex justify-center bgcol chip" *ngIf="dayID==item.day">
                            {{item.start}} - {{item.ending}}
                        </span>
                    </span>
                </div> -->
                <div class="flex flex-cols">
                    <span class="flex flex-cols gap-2" *ngFor="let item of selectedSlots">
                        <span *ngIf="item.start && item.ending">
                            <span class="flex justify-center bgcol chip full-width" *ngIf="selectedDay == item.day">
                                {{ item.start }} - {{ item.ending }}
                            </span>
                        </span>
                    </span>
                </div>
                
                <!-- <div class="flex flex-cols">
                    <span class="flex flex-cols gap-2" *ngFor="let item of slotsArrForChips">
                        <span class="flex justify-center bgcol chip full-width" *ngIf="dayID==item.day">
                            {{item.start}} - {{item.ending}}
                        </span>
                    </span>
                </div> -->
                

                    <!--<div class="row" *ngFor="let item of slotsArrForChips">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="dayID==item.day">

                <mat-chip-list aria-label="Fish selection">
                    <mat-chip color="primary" selected>{{item.start}} - {{item.ending}}</mat-chip>
                </mat-chip-list>
            </div>


        </div>-->
                    <br />


                    <div class="flex flex-cols justify-end gap-2">
                       
                           

                            <button class="fuse-mat-button-rounded  " mat-flat-button [color]="'primary'"
                            (click)="addSlot()"   style="position: relative; width: 140px; background-color: #ff6f3b;">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                            <span class="ml-2">Add Slots</span>
                        </button> 

           
                        
                        
                            <div class="flex justify-end">
           
                               
                                  
                                    <!-- <button  class="px-8" mat-raised-button [color]="'primary'" (click)="addSlots(slotsForm.value);" 
                                    [ngClass]="(slotsForm.invalid || submitButton) ? 'mat-flat-button' : 'mat-raised-button'" type="button">
                                                    Submit
                                                </button> -->
                                    <!-- <button  class="px-8" mat-raised-button [color]="'primary'" (click)="drawer.close();addSlots(slotsForm.value);"
                                    [disabled]="slotsForm.invalid || submitButton " type="button">
                                                    Submit
                                                </button> -->
                                                <!-- <button  type="button"    style="cursor: pointer;"
                                                [ngClass]="(slotsForm.invalid) ? 'btnsub' : 'btnsub1'" (click)="
                                                addSlots(slotsForm.value);scheduleDrawer.close();" [disabled]="slotsForm.invalid">
                                               Submit
                                                  </button> -->
                                                  <!-- <button  type="button"    style="cursor: pointer;"
                                                   (click)="
                                                  addSlots(slotsForm.value);scheduleDrawer.close();" [disabled]="!submitEnable" [ngClass]="{'btnsub1': submitEnable, 'btnsub': !submitEnable}">
                                                 Submit
                                                    </button> -->
                                                    <button  type="button"  [disabled]="!isTimeSlotsValid()"  style="cursor: pointer;" [ngClass]="{'btnsub1': isTimeSlotsValid(), 'btnsub': !isTimeSlotsValid()}"
                                                    (click)="
                                                   addSlots(slotsForm.value);scheduleDrawer.close();" >
                                                  Submit
                                                     </button>
            
                               
                            </div>
                        
                    </div>
<br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="colFormLabelSm0" class="col-form-label ">From</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="colFormLabelSm1" class="col-form-label ">To</label>
                        </div>
                    </div>
                   
                    
                    <div >
                        <div *ngFor="let item of selectedSlots; let i = index;">
                            <div class="row">
                                <mat-form-field class="col-lg-5 col-md-6 col-sm-12 col-xs-12 custom-form-field" appearance="outline">
                                    <mat-label>Select from timing</mat-label>
                                    <mat-select [(ngModel)]="item.start" (selectionChange)="change1(item.start,item.ending)">
                                        <mat-option *ngFor="let timing of timings" [value]="timing.Timings">
                                            {{ timing.Timings }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-lg-5 col-md-6 col-sm-12 col-xs-12 custom-form-field" appearance="outline">
                                    <mat-label>Select to timing</mat-label>
                                    <mat-select [(ngModel)]="item.ending" (selectionChange)="change1(item.start,item.ending)">
                                        <mat-option *ngFor="let timing of timings" [value]="timing.Timings">
                                            {{ timing.Timings }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                    <button type="button" (click)="deleteSlot(i)">
                                        <mat-icon svgIcon="heroicons_solid:trash" style="color:red;"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
              
                </fieldset>

            </div>
        </div>
    </div>
</fuse-drawer>