<div *ngIf="(Screen==1)" class="flex flex-col flex-auto min-w-0">
<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="row">
            <!-- <div class="col-lg-3">
                <mat-form-field floatLabel="never" class="search">
                    <input matInput [(ngModel)]="searchKey" placeholder="Search a Patient by Name or Phone Number"
                        autocomplete="off" (keyup)="applyFilter()" />
                    <mat-icon matPrefix>search</mat-icon>
                    <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                        (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div> -->
            <!---   <div class="col-lg-3">
                <mat-form-field floatLabel="never" class="search">
                    <input matInput [(ngModel)]="searchKey" placeholder="Search a Patient  Appointment Date"
                        autocomplete="off" (keyup)="applyFilter()" />
                    <mat-icon matPrefix>search</mat-icon>
                    <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                        (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                </div>-->
            <div class="col-lg-3">
                <!-- <mat-form-field class="col-span-2 flex flex-col" appearance="outline"
                style="padding-left:0;">
                <mat-label>Select Day</mat-label>
                (selectionChange)="OnDaySelect()"
                <mat-select matNativeControl  name="filterdayval">
                    <mat-option [value]="yesterday" >Yesterday</mat-option>
                    <mat-option [value]="today">Today</mat-option>
                    <mat-option [value]="tomorrow">Tomorrow</mat-option>

                    </mat-select>
            </mat-form-field> -->
            <!-- <mat-form-field appearance="fill" class="col-span-2 flex flex-col" 
            style="padding-left:0;">
                
                <mat-select  (selectionChange)="OnDaySelect($event.value)"  name="filterdayval" style="padding-top:18px;">
                  <mat-option *ngFor="let day of days" [value]="day.value">
                    {{day.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <!---- <mat-form-field >
                    
                    <select matNativeControl required autocomplete="off" (change)="applyFilter()">
                        <option value="volvo">yesterday</option>
                        <option value="saab">Today</option>
                        <option value="audi">Tommorow</option>
                    </select>
                  </mat-form-field> -->
             <!--- <div class="col-lg-3">  
                  <mat-form-field class="col-lg-4" class="search">
                        <!-- <mat-label>Select Date</mat-label> -->
                     <!----<input matInput [matDatepicker]="picker2" placeholder="Select To Date" [(ngModel)]="appToDate" 
                              />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    
                </div>-->
             

           <!-- <div class="col-lg-9" style="text-align: end;">
                <button class="fuse-mat-button-rounded mt-2" mat-flat-button [color]="'primary'"
                (click)="patientDrawer.toggle()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="ml-2">New Patient</span>
            </button>
               
            </div> -->

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-8 md:grid-cols-8 gap-6 w-full min-w-0 ng-star-inserted pt-8">

            <!-- <mat-form-field class="col-span-2 search1" appearance="outline">
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput type="text" [(ngModel)]="searchKey2" (keyup)="doFilter(searchKey2,3)"
                    placeholder="Search Profile">
            </mat-form-field> -->

            <mat-form-field floatLabel="never" class="col-span-2 search1 custom-background"  appearance="outline">
                <input matInput [(ngModel)]="searchKey" placeholder="Search Patient by Name or Phone No"
                    autocomplete="off" (keyup)="applyFilter()" />
                <mat-icon matPrefix>search</mat-icon>
                <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="col-span-2 flex flex-col custom-background" appearance="outline" *ngFor="let filter of filterSelectObj"
            >
            <mat-label>Filter {{filter.name}}</mat-label>

            <mat-select matNativeControl [(ngModel)]="filter.modelValue" name="{{filter.columnProp}}"
                (selectionChange)="filterChange(filter,$event)">
                <mat-option [value]="">-- Select {{filter.name}} --</mat-option>

                <mat-option [value]="item" *ngFor="let item of filter.options">{{item}}</mat-option>


                </mat-select>
        </mat-form-field>

        <mat-form-field  class="col-span-2 flex flex-col custom-background" 
        style="padding-left:0;" appearance="outline">
            <!-- <mat-label>Select Day</mat-label> -->
            
            <mat-select matNativeControl (selectionChange)="OnDaySelect($event.value)"   name="filterdayval" >
              <mat-option *ngFor="let day of days" [value]="day.value">
                {{day.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field  class="custom-background" appearance="outline" style="grid-column: 10;">
            <!-- <mat-label>Select Columns</mat-label> -->
            <mat-select  multiple [(ngModel)]="selectedColumns" (selectionChange)="updateDisplayedColumns()">
              <mat-select-trigger>
                <span>Select Columns</span>
              </mat-select-trigger>
              <mat-option style="color: #212121; font-weight: 500;" *ngFor="let column of columnDefinitions" [value]="column.def" [disabled]="column.def === 'Vitals'">
                {{ column.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
   
    </div>

    <div *ngIf="peteintapp" class="table2 example-container2 mat-elevation-z8 h-grid2">
        <div class="table-container2">
            <table mat-table [dataSource]="patientsappointments" matSort matSortActive="appointmentID" matSortDirection="asc" (matSortChange)="sortData($event)">
                <!-- Position Column -->
                <ng-container matColumnDef="SL">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-lg text-white">
                        SL
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.appointmentID }}</td>
                </ng-container>
    
                <ng-container matColumnDef="Patient">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="patient" class="text-lg text-white">
                        Patient Name & Gender
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <b>{{ element.patient }}</b> ({{ element.gender | slice: 0: 1 }}, {{ element.age }}y)
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="Mobile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="mobile" class="text-lg text-white">
                        <ng-container *ngIf="roleID != 2">Phone Number</ng-container>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="roleID != 2">{{ element.mobile }}</ng-container>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="LastSeen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="serviceDate" class="text-lg text-white">Last Seen</th>
                    <ng-container *ngIf="roleID == 2">
                        <td mat-cell *matCellDef="let element">{{ getRelativeDate(element.serviceDate) }}</td>
                    </ng-container>
                    <ng-container *ngIf="roleID != 2">
                        <td mat-cell *matCellDef="let element">{{ element.serviceDate }}</td>
                    </ng-container>
                </ng-container>
    
                <ng-container matColumnDef="AddAppointment">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="appointmentDrawer.toggle()" style="color: #4e9bea;">
                            <mat-icon style="color: #4e9bea;" svgIcon="mat_solid:edit_calendar"></mat-icon><span> Add an appointment </span>
                        </button>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button type="submit" (click)="onDelete(patientsappointments)">
                            <mat-icon style="color:red" svgIcon="mat_outline:delete"></mat-icon>
                        </button>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="Vitals">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-button *ngIf="roleID=='2' || roleID=='5'" (click)="onRowClicked(row)">
                            <div style="color: cornflowerblue">Previous Visits</div>
                        </button>
                    </td>
                </ng-container>
    
                <tr mat-header-row class="height2" *matHeaderRowDef="displayedColumns; sticky: true" style="background-color: #A9A9A9;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <mat-paginator class="sticky-paginator2" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="100" showFirstLastButtons></mat-paginator>
    </div>
    


        <div  *ngIf="!peteintapp" style="text-align: center;">
                


            <div class="center-container">
                <img class="w-16" style="opacity: 0.5;" src="assets/images/logo/imgs1.svg" alt="Fuse logo">

            </div>
<br>
<div class="center-container1">
<h2 style="color: #146aa6;    margin-top: -59px;">
<b>No Petient  data  Found </b> 
</h2>
</div>
            <!-- <mat-icon svgIcon="heroicons_solid:x-circle"></mat-icon> -->

        </div>
   
    </div>
</div>

</div>
<div *ngIf="(Screen==2)">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <!-- style="background:#e6e6e6;padding-top: 15px;" -->
            <!-- <div class="col-lg-1" (click)="appoinmentLink()">
                <mat-icon class="icon-size-14 text-current"> arrow_left</mat-icon>
            </div> -->
            <div class="col-lg-4" style="width: 80%;">

                <!-- <div class="col-lg-1">
                </div> -->
                <div class="col-lg-2" style="cursor: pointer;margin-top: 20px;text-align: right;" (click)="appoinmentLink()">
                    <!-- <mat-icon class="icon-size-14 text-current"> arrow_left</mat-icon> -->
                    <button class="px-6" mat-flat-button [color]="'primary'"                                         
                    type="button" >
                   Back
               </button>
                </div>
                <div class="col-lg-5" style="width: 83%;">
                    <mat-icon class="icon-size-5 text-current" svgIcon="heroicons_outline:user-circle"></mat-icon>
                    <label style="font-size: x-large;"><b>{{detailData.patient}}</b></label><br>
                    <mat-icon class="icon-size-3 text-current"> local_phone</mat-icon> {{detailData.mobile}} <mat-icon
                        class="icon-size-3 text-current"> contacts</mat-icon> {{detailData.gender}},{{detailData.age}} yrs
                </div>
                <!-- <mat-icon class="icon-size-14 text-current"> arrow_left</mat-icon> -->
                
            </div>
            
            <div class="col-lg-2" style="text-align: right;padding-top:15px">
                <label style="font-size: large;color: darkgray;"><b>Status : </b></label><label style="font-size: larger;color: green;"><b> History</b></label>
            </div> 

            <div class="col-lg-12">
                <mat-tab-group mat-align-tabs="center">
                   
                    <mat-tab label="Previous Visit">

                        <div class="row" *ngFor="let item of patientHistory ">

                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <p class="date_1"> {{item.serviceDate | date : 'd MMMM'}}</p>

                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <mat-accordion class="example-headers-align" multi>
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <span class="doctr">
                                                    {{item.doctorName}}
                                                </span>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                See More
                                            </mat-panel-description>



                                        </mat-expansion-panel-header>

                                        <!--<mat-form-field appearance="fill">
                                        <mat-label>Date</mat-label>
                                        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
                
                
                                    </mat-form-field>
                                    <mat-datepicker #picker></mat-datepicker>-->
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <label><span class="service">Service</span> <span class="service_d"> :
                                                        {{item.serviceName}}</span></label><br />
                                                <label><span class="service">Vist Reason</span> <span class="service_d">
                                                        : {{item.reason}}</span></label><br />
                                                <label><span class="service">Observation</span> <span class="service_d">
                                                        :{{item.complaintName}} </span></label>
                                                <br /> <br />
                                                <label><span class="service">Vitals:</span> </label><br />
                                                <label><span class="service_d">Weight </span> <span class="service_d">:
                                                        {{item.weight}}</span></label><br />
                                                <label><span class="service_d">Blood Group</span> <span
                                                        class="service_d"> :{{item.bloodGroup}}</span></label><br />
                                                <label><span class="service_d">Temp </span> <span class="service_d"> :
                                                        {{item.temperature_F}}</span></label><br />
                                                <label><span class="service_d">SpO2% </span> <span class="service_d">:
                                                        {{item.spO2}}</span></label><br />
                                                <label><span class="service_d">Blood Pressure </span> <span
                                                        class="service_d"> : {{item.bp}}</span></label><br />
                                                <label><span class="service_d">BMI</span> <span class="service_d"> :
                                                        {{item.bmi}} </span></label><br />
                                                        <label><span class="service_d">Advice</span> <span class="service_d"> :
                                                            {{item.advice}} </span></label><br />       
                                                        


                                                <br /> <br />

                                                <label>
                                                    <span class="service">Lab Report : </span> <span class="service_d">
                                                        Hermatology_report.pdf
                                                    </span>
                                                </label><br />

                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12">
                                                <table id="customers">
                                                    <tr>
                                                        <th>Medicine</th>
                                                        <th>Dose</th>
                                                        <th>When</th>
                                                        <th>Frequency</th>
                                                        <th>Duration</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                    <tr *ngFor="let medList of item.medicineList ">
                                                        <td><span class="service">{{medList.medicine}}</span><br />
                                                           </td>
                                                        <td>{{medList.dose}}</td>
                                                        <td>{{medList.when}}</td>
                                                        <td>{{medList.frequencyListMedication}}</td>
                                                        <td>{{medList.duration}}</td>
                                                        <td>{{medList.notes}}</td>
                                                    </tr>
                                                  
                                                </table>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>



</div>
