<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="row">
            <div class="col-lg-3">
                <div class="stats-card bradius-25">
                    <div class="stats-card-body stats-type-2" routerLink="/Employess">
                        <div class="card-left">
                            <img src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-doctor-male-profession-vitaliy-gorbachev-flat-vitaly-gorbachev-1.png" />
                            <!-- <img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-medical-doctor-coronavirus-superhero-flatart-icons-lineal-color-flatarticons.png"/>-->
                        </div>
                        <!-- <a routerLink="/Employess"> -->
                        <div class="card-right">
                            <h4>No of Doctors</h4>
                            <p class="mb-0">{{dashboardData.doctors}}
                                </p>
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="stats-card bradius-25">
                    <div class="stats-card-body stats-type-2" routerLink="/Employess">
                        <div class="card-left">
                            <img src="https://img.icons8.com/color/100/000000/stethoscope.png"/>
                        </div>
                        <div class="card-right">
                            <h4>No of JrDoctors</h4>
                            <p class="mb-0">{{dashboardData.jrDoctors}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="stats-card bradius-25">
                    <div class="stats-card-body stats-type-2" routerLink="/MyPatients">
                        <div class="card-left">
                            <img src="https://img.icons8.com/external-flat-02-chattapat-/64/000000/external-patient-medical-flat-02-chattapat-.png" />

    <!--<img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-medical-doctor-coronavirus-superhero-flatart-icons-lineal-color-flatarticons.png"/>-->
                        </div>
                        <div class="card-right">
                            <h4>No of Patients</h4>
                            <p class="mb-0">{{dashboardData.patients}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="stats-card bradius-25">
                    <div class="stats-card-body stats-type-2" routerLink="/Employess">
                        <div class="card-left">
                            <img src="https://img.icons8.com/external-kmg-design-outline-color-kmg-design/58/000000/external-receptionist-human-resources-kmg-design-outline-color-kmg-design.png" />

                            <!-- <img src="https://img.icons8.com/color/100/000000/stethoscope.png"/>-->
                        </div>
                        <div class="card-right">
                            <h4>No of Front Desk</h4>
                            <p class="mb-0">{{dashboardData.frontDesk}}</p>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
        <div class="row mt-8">
            <div class="col-lg-3">
                <div class="stats-card bradius-25">
                    <div class="stats-card-body stats-type-2">
                        <div class="card-left">
                            <img src="https://img.icons8.com/external-anggara-outline-color-anggara-putra/64/000000/external-hospital-medical-anggara-outline-color-anggara-putra-2.png" />

                            <!-- <img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-medical-doctor-coronavirus-superhero-flatart-icons-lineal-color-flatarticons.png"/>-->
                        </div>
                        <div class="card-right">
                            <h4>Features</h4>
                            <p class="mb-0"><span class="col-green">New</span>
                                Benefits</p>
                            <p class="mb-0">Coming Soon...!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
