.bradius-25 {
    border-radius: 0.35rem !important;
}

.stats-card{
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    height: 100%;
}

.stats-card-body .card-right p {
    font-size: 0.85rem;
    margin-top: 0.5rem;
}
.stats-type-2{
    border-radius: 0.35rem;
}
.stats-card-body {
    background-color: #fff;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.stats-type-2 .card-left img {
    width: 5rem;
    height: 5rem;
}
.stats-card-body .card-right{
    margin-right: 1rem;
    order: 1;
}

.stats-type-2 .card-left {
    background-color: #fff;
}

.stats-card-body .card-left {
    background-color: #FAFBFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    order: 2;
}

.Overlays{
    background-color: #ff6f3b  !important; 
}