
.bg-color {
    background: #666666;
}.track_font {
    font-size: 14px !important;
    letter-spacing: 0.3px !important;
}

tr.mat-row,
tr.mat-footer-row {
    height: 25px !important;
    padding: 0;
}

tr.mat-header-row {
    height: 30px !important;
}

tr.mat-header-row {
    height: 30px;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    margin-top: -10px !important;
    height: 48px !important;
    font-size: 13px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 1em 0em !important;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
}

tr.mat-header-row {
    height: 56px;
    background-color: rgb(193 193 193 / 21%) !important;
}

body.light .mat-flat-button.mat-warn,
body.light .mat-raised-button.mat-warn,
body.light .mat-fab.mat-warn,
body.light .mat-mini-fab.mat-warn,
body .light .mat-flat-button.mat-warn,
body .light .mat-raised-button.mat-warn,
body .light .mat-fab.mat-warn,
body .light .mat-mini-fab.mat-warn {
    background-color: #4f46e5;
    height: 0.5rem !important;
    padding: 0;
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
    padding: 5px 0;
    margin-top: 17px;
    height: 15px !important;
}

.login_name {
    font-size: larger;
    color: #ff8056;
    padding-left: 0.5rem;
}

.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 60px !important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    //font-family: "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   // font-size: -2.125rem !important;
    font-weight: 350 !important;
}
.mat-button, .mat-fab, .mat-flat-button,  .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    // display: inline-flex !important;
    // align-items: center;
    // justify-content: center;
    // height: 40px;
    min-height: 26px !important;
    max-height: 35px !important;
   // line-height: 1 !important;
 
}
