
<div class="flex flex-col items-center px-6 py-5 sm:px-8  bg-default">
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8 w-full ">

<div (click)="gotoServices()" class="flex flex-col flex-auto  bg-card shadow rounded-2xl overflow-hidden ng-star-inserted hover:text-white single-features custom-hover">
    <div class="flex p-2"  >
          <span class="flex items-center justify-center w-12 h-12 rounded" style="background-color: rgb(5, 60, 109);">
            <button>
                <!-- <mat-icon  class="text-white"
                (click)="gotoServices()" svgIcon="mail"></mat-icon> -->
                <mat-icon class="text-white" (click)="gotoServices()" svgIcon="heroicons_outline:sparkles"></mat-icon>
            </button>

          </span>
         <button> <div (click)="gotoServices()" class="mt-3 ml-2 mb-4 text-xl font-medium">Services</div></button>
      </div>
      <div class="mt-2 px-2 leading-6 ">
          Pre-render services to make reports and analytics more accessible by screen readers and other accessibility tools.
      </div>
  </div>

  <div (click)="gotodiscount()" class="flex flex-col flex-auto  bg-card shadow rounded-2xl overflow-hidden ng-star-inserted hover:text-white single-features custom-hover">
    <div class="flex p-2"  >
          <span class="flex items-center justify-center w-12 h-12 rounded" style="background-color: rgb(5, 60, 109);">
            <button>
                <!-- <mat-icon  class="text-white"
                (click)="gotoServices()" svgIcon="mail"></mat-icon> -->
                <!-- <mat-icon class="text-white" (click)="gotoServices()" svgIcon="heroicons_outline:sparkles"></mat-icon> -->
                <mat-icon class="text-white" (click)="goToReports()">%</mat-icon>

                
            </button>

          </span>
         <button> <div (click)="gotodiscount()" class="mt-3 ml-2 mb-4 text-xl font-medium">Discount</div></button>
      </div>
      <div class="mt-2 px-2 leading-6 ">
          Pre-render discount to make reports and analytics more accessible by screen readers and other accessibility tools.
      </div>
  </div>

  <div (click)="goToReports()" class="flex flex-col flex-auto  bg-card shadow rounded-2xl overflow-hidden ng-star-inserted hover:text-white single-features custom-hover">
    <div class="flex p-2"  >
          <span class="flex items-center justify-center w-12 h-12 rounded" style="background-color: rgb(5, 60, 109);">
            <button>
                <mat-icon class="text-white" (click)="goToReports()" >assignment</mat-icon>
                <!-- <mat-icon class="text-white" (click)="goToReports()" svgIcon="heroicons_outline:clipboard-document-list"></mat-icon> -->
            </button>

          </span>
         <button> <div (click)="goToReports()" class="mt-3 ml-2 mb-4 text-xl font-medium">Reports</div></button>
      </div>
      <div class="mt-2 px-2 leading-6 ">
          Pre-render reports to make reports and analytics more accessible by screen readers and other accessibility tools.
      </div>
  </div>

    </div>
    </div>
